#index_body_home {
  background: #151515;
  background-blend-mode: multiply, multiply;
  height: auto;
  overflow: hidden;
}
#certs {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #151515, 1px -1px 0 #151515, -1px 1px 0 #151515,
    1px 1px 0 #151515, 0 0 5px #C73659, 0 0 10px #C73659, 0 0 15px #C73659, 0 0 20px #C73659,
    0 0 25px #C73659;
}

#certs2 {
  color: #EEEEEE;
  text-shadow: -1px -1px 0 #151515, 1px -1px 0 #151515, -1px 1px 0 #151515,
    1px 1px 0 #151515, 0 0 5px #C73659, 0 0 10px #C73659, 0 0 15px #C73659, 0 0 20px #C73659,
    0 0 25px #C73659;
}
