#index_body_home {
  background: #333;
  background-blend-mode: multiply, multiply;
  height: auto;
  overflow: hidden; 
 
}
#certs {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #111, 
    1px -1px 0 #111, 
    -1px 1px 0 #111, 
    1px 1px 0 #111,
    0 0 5px red, 
    0 0 10px red, 
    0 0 15px red, 
    0 0 20px red, 
    0 0 25px red;
}


